<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>COVID-19 Predictor</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Diabetes Predictor</a>
    </li>

  </ul>
</nav>


  <br>
   <br>



   <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name='Pregnancies' placeholder="Pregnancies" required="required" />
        <input type="text" name="Glucose" placeholder="Glucose" required="required" />
		<input type="text" name="BloodPressure" placeholder="BloodPressure" required="required" />
        <input type="text" name="SkinThickness" placeholder="kinThickness" required="required" />
        <input type="text" name="Insulin" placeholder="Insulin" required="required" />
		<input type="text" name="BMI" placeholder="BMI" required="required" />

        <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required="required" />
		<input type="text" name="Age" placeholder="Age" required="required" />
<br>
       <br>
      <button type="submit" class="btn btn-success btn-block btn-large">Predict</button>

   </form>
       <br>
   <br>
   {{ prediction_text }}

</div>







</body>
</html>